.main-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(2, 114, 114, 0.815);

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container{
  width: 100%;
  max-width: 800px;
  height: 500px;
  background-color: rgba(238, 238, 238, 0.959);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(219, 219, 219);
}

.card-container h1{
  text-align: center;
}

.inner-card-container{
  display: flex;
}

.first-column{
  width: 100%;
  height: 420px;
}

.first-column textarea{
  width: 100%;
  height: 100%;
  padding: .8rem;
  resize: none;
  outline: none;
  border: none;
}


.second-column{
  background-color: hotpink;
  width: 100%;
  min-height: 100%;
  padding: 5rem  .8rem;
}

.second-column h3{
  text-align: center;
}

.inner-result-container{
  display: flex;
  justify-content: space-around;
}

.inner-card-container h4{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}