.main-container {
  width: 100%;
  height: 100vh;
  background-color: #1E1E1E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 100%;
  max-width: 450px;
  background-color: #2F2F2F;
  padding: 2rem .5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-container input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid grey;
  color: white;
}

input:focus {
  outline: none;
}

.card-container h1 {
  text-align: center;
  color: white;
}

.item-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  color: white;
}

li {
  list-style: none;
}