* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #000000, #000000de, #000000);

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-container {
  width: 100%;
  max-width: 390px;
  background-color: rgba(166, 166, 238, 0.651);
  border-radius: 10px;
  padding: 1rem;
}

h1 {
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container input {
  padding: 8px;
  width: 80%;
  border: none;
}

input:focus {
  outline: none;
}

.search-image-container {
  background-color: rgb(56, 56, 56);
  width: 20%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
}

.search-image-container:hover{
  background-color: black;
}

.inner-container {
  width: 100%;
  margin-top: 1rem;
  padding: .5rem;
}

.first-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
}

.second-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container{
  width: 140px;
}

.second-row img{
  width: 100%;
}

.third-row{
  border-bottom: 1px solid black;
}

.fourth-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 350px) {
  .first-row, .fourth-row {
    flex-wrap: wrap;
  }
}

@media (max-width: 420px) {
  .card-container {
    margin-inline: .5rem;
  }
}