.main-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  background-image: url(../public/assets/background-image.jpeg);
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.right button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main {
  width: 100%;
  height: 90.5vh;
  display: flex;
  justify-content: center;
  background-image: url(https://picsum.photos/1000/400/);
  background-size: cover;
  background-position: center;
}

.hero-section {
  max-width: 1300px;
  display: flex;
  align-items: center;
}

button {
  padding: 1rem;
  width: 160px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}