* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent-container {
    width: 100%;
    min-height: 100vh;
    background-image: url(/assets/background-image.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    width: 100%;
    max-width: 350px;
    height: 500px;
    background-color: hsla(189, 80%, 10%, 0.637);
    padding: 1rem;
    border-radius: .5rem;
}

.first-row {
    display: flex;
    justify-content: end;
}

.first-row img {
    cursor: pointer;
}

.second-row {
    max-width: 100%;
    height: 375px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6), rgba(135, 206, 235, 0.6), rgb(255, 255, 255));
    margin: 15px 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.third-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.third-row button {
    font-size: 30px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
}

button:hover {
    background-color: rgb(211, 216, 221);
}


@media (max-width: 450px) {
    .card-container {
        margin: 0 .5rem;
    }
}