.main-container {
  width: 100%;
  height: 100vh;
  background-color: turquoise;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-container {
  width: 100%;
  max-width: 800px;
  height: 400px;
  background-color: thistle;
  border-radius: .8rem;
  padding: 1rem;
}

.card-container h1 {
  text-align: center;
}

.inner-card {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.first-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: 2px solid black;
}

.first-column input{
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.button-container{
  display: flex;
  gap: 1rem;
}

.button-container button{
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  background-color: blue;
}

input:focus{
  outline: none;
}

.button-container button+button{
  background-color: rgb(255, 70, 193);
}

.second-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.second-row-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

@media (max-width: 850px) {
  .card-container{
    margin-inline: .5rem;
  }
}

@media (max-width: 540px) {
  .card-container{
    padding: 5px;
  }
  .button-container{
    flex-wrap: wrap;
  }
}